body {
    font-family: Arial, sans-serif;
    background-color: #080808;
    color: #ffffff;
    margin: 0;
    padding: 2vh;
    font-size: 1.1rem;
}

#medals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#medals table {
    text-align: center;
    border-collapse: collapse;
    margin: 2vh auto 2vh auto
}

#medals th {
    border: 1px solid #ddd;
    padding: 0.5vw;
    background-color: #000000;
    font-weight: bold;
}

#medals td {
    border: 1px solid #ddd;
    padding: 0.5vw;
}

#medals table td:nth-child(3) {
    color: gold;
}
#medals table td:nth-child(4) {
    color: silver;
}
#medals table td:nth-child(5) {
    color: #a16e00;
}

#medals .country {
    display: flex;
    align-items: center;
    justify-content: left;
}

#medals .country .flag {
    margin-right: 0.5em;
    max-height: 1em;
}

#medals .country span {
    line-height: 1em;
}

#medals tr.filteredNOC {
    background-color: #9bd94f5f;
}

#medals span {
    text-align: center;
    color: silver;
    margin-bottom: 1vh;
}

#content {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

#content > div {
    flex: 1;
    border-right: 0.5vh solid #828282;
    height: 100%;
}

#content > div:last-child {
    border-right: none;
}

#content.noc-filter-active {
    border: 0.2vh solid #9bd94f;
}

input[id="datePicker"] {
    margin: 1vh auto;
    text-align: center;
    display: block;
}

#filters {
    padding: 1vh;
    margin-bottom: 3vh;
    border: 0.2vh solid #939393;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow-y: auto;
    height: 20vh;
}

#filters.filter-active {
    border: 0.2vh solid #c20000;
}

#special-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 1vh;
    justify-content: center;
}

#discipline-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    overflow-y: auto;
}

#discipline-filters.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#filters label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 0;
    cursor: pointer;
    width: 30%;
}

#filters input[type="checkbox"] {
    margin-right: 0.5vw;
    accent-color: #4CAF50;
}

#filters label:hover {
    background-color: #333333;
    border-radius: 4px;
}

.live-container, .pending-container, .finished-container {
    border-radius: 0.1vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    overflow-wrap: break-word;
    min-width: 20%;
}

.pending-container .nextEvent {
    background-color: rgba(0, 255, 0, 0.1);
}

.live-container {
    background-color: rgba(0, 255, 0, 0.1);
}

.finished-container {
    background-color: rgba(255, 255, 255, 0.1);
}


.event {
    border-bottom: 0.1vh solid #b0b0b0;
    padding: 2vh 0;
}

.event:last-child {
    border-bottom: none;
}

.event div.eventStatus, div.competitors {
    padding: 0.5vh 0 0.5vh 0;
}

.event div.eventStatus {
    color: #c3c3c3;
    font-weight: bold;
}

.event .eventStatus.futureEvent {
    color: #c3c3c3a6;
    font-weight: normal;
}

.event div.filteredNOC {
    color: #9bd94f;
}

.event div.eventTitle {
    color: #c40a00;
    padding-bottom: 1vh;
    text-decoration: underline;
}

.event div.medal {
    padding: 0.5vh;
    border: 0.2em solid #e6b400;
}

.event .medal.bronze {
    border-style: dotted
}

div.event:has(.filteredNOC) .medal {
    border-color: #9bd94f;
}

.event .competitors .results {
    color: #959595;
    font-size: small;
}

.event div.gettingReady {
    color: #a28f00;
}

@media (max-width: 900px) {
    body {
        font-size: 0.8rem;
    }

    #content {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    
    #content > div {
        flex: 0 0 40%;
        width: 40%;
    }

    #content > div:nth-child(3) {
        flex: 0 0 auto;
        min-width: 40%;
    }

    #content > div:only-child {
        flex: 0 0 auto;
        min-width: 90%;
    }
}
